{% extends 'filmecartazs/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for filmecartaz_app {% endtrans %}  </h1>
                <a href="{{ new_path }}" class="btn btn-success">{% trans %}Create New Cartaz{% endtrans %}</a>
                <hr/>
                <h2>{% trans %}List of Cartazs{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Creation{% endtrans %}</th>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Lancamento{% endtrans %}</th>
                        <th>{% trans %}De{% endtrans %}</th>
                        <th>{% trans %}Genero{% endtrans %}</th>
                        <th>{% trans %}Com{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartaz in cartazs %}
                        <tr>
                            <td><a href="{{ cartaz.edit_path }}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>
                            <td>{{ cartaz.id }}</td>
                            <td>{{ cartaz.creation }}</td>
                            <td>{{ cartaz.titulo }}</td>
                            <td>{{ cartaz.lancamento }}</td>
                            <td>{{ cartaz.de }}</td>
                            <td>{{ cartaz.genero }}</td>
                            <td>{{ cartaz.com }}</td>
                            <td>
                                <form action="{{ cartaz.delete_path }}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}